.card {
  width: 308px;
  padding: 0;
  border: 2px solid #e1e1e1;
  margin-top: 26px;
  margin-bottom: 26px;
  height: 374px


}
.card a{
  text-decoration: none
}

.cardImage{
  background-image: url('./assets/temp.png');
  min-height: 150px;
  min-width: 100%;

}
.cardEntry{

  padding:19px 19px 5px 19px
 
}

.cardHeading{
display: flex;
flex-direction: row;
}

.cardHeading img{
  

height: 50px;
padding-right:10px; 
}
.cardTitle{
  width:80%;
}


.cardTitle h1{
  margin: 0;
color: #3A3A3A;
font-size: 23px;  
font-family: Arial;
font-weight: "bold";


}
.cardTitle h2{
  margin: 0;
  width:100%;
  text-transform: uppercase;
  color: #adadad;

  font-size: 12px;  
  font-family: Arial;
  font-weight: "bold"; 
}
.cardText p{
  color: #3A3A3A;
  font-size: 12px;  
  font-family: Arial;
  font-weight: "bold";
  padding-top: 19px;
  padding-bottom: 19px;
  margin: 0;
}

.heart{
  height: 20px;
}

 button{

 all:unset
 
}

.direction-buttons{
  width:40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.direction-buttons img{

  padding-left: 2px;
  padding-right: 2px;
  width:15px

}

.deck{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-left:26px;
  padding-right:26px;
  
 
  
  
}
.navigation{
  display: flex;
  justify-content: center;
  padding-bottom: 26px
  
}
.middleCard{
  padding-left: 26px;
  padding-right: 26px;
  

}

.canvas{
  display: inline-block;

  border: 2px solid  rgb(206, 206, 206);
  width: fit-content; 

}

.hiddenButton{
  display: none;

}

